@CHARSET "ISO-8859-1";
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 175px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top:100px;
  margin-left: 150px;
  width: 400px;
  height: 410px;
}
.hello{
	height:250px;
	width:400px;
}
.but {
	background-color: #d6a00b;
}